@charset "UTF-8";
@import "mixins/custom_mixins";
@import "fonts";
$modal-footer-border:#E4E9EE;
$modal-footer-bg:#EFF3F8;

$pagination-color: #2283C5;
$pagination-border: darken(#E0E8EB , 4%);
$pagination-bg: #FAFAFA;
$pagination-bg-hover: #EAEFF2;

$pagination-bg-disabled: #F9F9F9;
$pagination-border-disabled: #D9D9D9;

$pagination-color-active: #FFF;
$pagination-bg-active: #6FAED9;
$pagination-border-active: #6FAED9;
//modals
.modal-content {
    @include custom-border-radius(0);
    @include box-shadow(none);
}
.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;

    border-top-color: $modal-footer-border;
    @include box-shadow(none);
    background-color: $modal-footer-bg;
}
.modal-header .close,.modal-body .close {
    font-size: 32px;
    @include transition(all 0.5s ease-out);
    &:hover {
        @include transform(scale(1) rotate(360deg));
    }
}

//alerts
.alert {
    font-size: $font-size-alert;
    @include custom-border-radius(0);

    .close {
        font-size: 16px;
    }
}
.alert-block p + p {
    margin-top: 10px;
}

//wells
.well {
    @include custom-border-radius(0);
}
.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    margin-top: 0;
}
.well h1, .well h2, .well h3 {
    line-height: 36px;
}

//pagination
.pagination > li > span , .pager > li > span {
    border-width: 1px;
    border-radius: 0 !important;
}
.pagination > li > a, .pager > li > a {
    border-width: 1px;
    border-color: $pagination-border;
    border-radius: 0 !important;

    color: $pagination-color;
    background-color: $pagination-bg;
    margin: 0 -1px 0 0;
    position: relative;
    z-index: auto;

    &:hover {
        color: darken($pagination-color, 8%);

        background-color: $pagination-bg-hover;
        border-color: darken($pagination-border , 6%);
        z-index: 1;
    }
    &:focus {
        background-color: adjust_hue($pagination-bg-hover, 10%);
    }
}

.pagination > li.disabled > a, .pager > li.disabled > a {
    &, &:hover {
        background-color: $pagination-bg-disabled;
        border-color: $pagination-border-disabled;
        z-index: auto;
    }
}

.pagination > li.active > a {
    &, &:hover {
        background-color: $pagination-bg-active;
        border-color: $pagination-border-active;
        color: $pagination-color-active;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        z-index: 2;
    }
}

//page
.page-content {
    background-color: #fff;
    position: static;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-content > .abs-content {
    position: absolute;
    top: $navbar-min-height + $breadcrumb-height;
    left: $sidebar-width;
    bottom: 0;
    right: 0;
}
.main-content-inner > .abs-content {
    position: absolute;
    top: $navbar-min-height;
    left: $sidebar-width;
    bottom: 0;
    right: 0;
}
.layout-content-main,.layout-content-sidebar {
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.layout-content-sidebar {
    width: 239px;
    border-left: solid 1px #e5e5e5;
    position: absolute;
    right: 0;
    top: 0;
}
.layout-content-main-body {
    height: calc(100% - #{$breadcrumb-height});
}
.layout-content-sidebar + .layout-content-main {
    margin-right: 240px;
}
.layout-content-sidebar.compact {
    width: 86px;
    overflow: hidden;
}
.layout-content-sidebar.compact + .layout-content-main {
    margin-right: 87px;
}
.layout-content-sidebar.collapsed {
    width: 0;
    border-left-width: 0;
    overflow: hidden;
}
.layout-content-sidebar.collapsed + .layout-content-main {
    margin-right: 0;
}
.slide-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 700px;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    background-color: #FFF;
    border-left: solid 1px #e1e1e1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}