@charset "UTF-8";
@import "variables";
@import "features";
@import "fonts";
@import "utility";
@import "basic";
@import 'buttons';
@import 'progress-bars';
@import "tab-according";
@import "breadcrumbs";
@import "searchbox";
@import "timeline";
@import 'forms';
@import 'navbar';
@import 'sidebar';
@import "footer";
@import 'colors';
@import 'scroll';
@import 'typography';
@import 'dropdowns';
@import 'grid';
@import 'modal';
@import 'table';
@import 'label-badge';
@import "infobox";
@import 'widgets';
@import 'lists';
@import "items";
@import "responsive";
@import 'tooltip-popover';
@import 'animations';
@import 'toaster';
@import "login";
//@import 'players';
@import "others";


@import "skins/no-skin";
@import "skins/dark-skin";
li.tab-gray {
  z-index: 2;
}
li.tab-gray.active {
  & > a,& > a:hover,& > a:focus {
    background-color: #F5F5F5;
  }
}

/************** entertainment ********************/
.curved_box {
    display: inline-block;
    *display: inline;
    width: 100%;
    min-height: 248px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    position: relative;
    padding: 10px;
    *zoom: 1;
}

.curved_box:before {
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
    left: 15px;
}
.curved_box:after {
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
    right: 15px;
}
